<div class="panel">
  <div class="table-responsive">
    <BR>
    <BR>
    <label>Change Password</label>
    <!--code for changing password-->
    <BR>
    <BR>
      <input required placeholder="New Password" id="passwordID" ng-model="UserMyScope.Password" type="password">
    <BR>
      <BR>
      <input required placeholder="Confirm New Password" ng-model="UserMyScope.confirmPassword" type="password">
    <BR>
      <BR>
        <BR>
    <button type="submit" class="btn btn-warning" ng-click="changeMyPassword()">Submit</button>
</div>  <!-- div table responsive ends here -->
</div> <!--  panel ends here -->
<BR>
<BR>
